### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [37]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

## Debug flag: 
debug_mode = True

## Player Count

* Display the total number of players

In [38]:
## Counting the unique values of the player column (SN)
players_df = purchase_data_df.groupby("SN")["SN"].nunique()
unique_no_players = players_df.count()

## Alternative way of counting unique values: 
## n = len(pd.unique(purchase_data_df['SN']))

## create a dictionary to save the summary info
player_dicts = [{"Total Player": unique_no_players}]

## convert it to a DataFrame
player_sum_df = pd.DataFrame(player_dicts)
player_sum_df

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
## Variables to store the summary data
total_unique_items = 0
ave_price = 0.00
num_purchases = 0
total_revenue = 0
formatted_total_rev = 0

In [40]:
##purchase_data_df.describe()
purchase_data_df.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [41]:
## Requirement: Run basic calculations to obtain number of unique items, average price, etc.
total_unique_items = len(pd.unique(purchase_data_df['Item Name']))
if debug_mode == True:
    print(f"total_unique_items = {total_unique_items}")

total_unique_items = 179

In [42]:
ave_price = round(purchase_data_df['Price'].mean(), 2)
formatted_ave_price = "${:,.2f}".format(ave_price)

if debug_mode == True:
    print (f"formated price = {formatted_ave_price}")

formated price = $3.05

In [43]:
num_purchases = purchase_data_df['Purchase ID'].count()
if debug_mode == True:
    print(f"num_purchases = {str(num_purchases)}")
##sum_df.insert(2, "Number of Purchases", num_purchases, True)

num_purchases = 780

In [44]:
total_revenum = purchase_data_df['Price'].sum()
## User str.format() to format a float as currency, in this case, "${:,.2f}"
formatted_total_rev = "${:,.2f}".format(total_revenum)
if debug_mode == True:
    print(f"formatted_total_rev = {formatted_total_rev}")

formatted_total_rev = $2,379.77

In [45]:
sum_df = pd.DataFrame(
    [[total_unique_items, formatted_ave_price, num_purchases, formatted_total_rev]],    
    columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]
)
sum_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [46]:
## first, need to drop duplicate names in the dataframe
uni_purchase_data_df = purchase_data_df.drop_duplicates('SN').sort_index()

## Calculate the gender count
grouped_gender_df = uni_purchase_data_df.groupby("Gender")["SN"].nunique()

## Calculate gender percentage, and keep 4 digit after decimal
percent_gender_df = (grouped_gender_df / unique_no_players).round(4)

## Create the summary dataframe
gender_sum_df = pd.DataFrame({"Total Count": grouped_gender_df, "Percentage of Players": percent_gender_df })

## order the rows per teacher's questions
gender_sum_df = gender_sum_df.reindex(["Male", "Female", "Other / Non-Disclosed"])

## format the percentage
gender_sum_df["Percentage of Players"] = pd.Series(["{0:.2f}%".format(val * 100) for val in gender_sum_df["Percentage of Players"]], index = gender_sum_df.index)

## Display the gender summary: 
gender_sum_df

                      Percentage of Players  Total Count
Gender
Male                                 84.03%          484
Female                               14.06%           81
Other / Non-Disclosed                 1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [47]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [48]:
## Obtain purchase count by gender
gender_purchase_data_df = purchase_data_df.groupby('Gender')["Item ID"]
gender_purchase_data_df = gender_purchase_data_df.count()
gender_purchase_data_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [49]:
## Obtain avg. purchase price by gender
gender_price_data_df = purchase_data_df.groupby('Gender')['Price'].mean()
gender_price_data_df.round(2)
gender_price_data_df = pd.Series(["${:,.2f}".format(val) for val in gender_price_data_df], index = gender_price_data_df.index)
gender_price_data_df

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
dtype: object

In [50]:
## Obtain total purchase value by Gender
gender_total_purchase_df = purchase_data_df.groupby('Gender')['Price'].sum()

## format the total purchase by adding a dollar sign in the front, and a comma for thousand mark
formatted_gender_total_purchase_df = pd.Series(["${:,.2f}".format(val) for val in gender_total_purchase_df], index = gender_total_purchase_df.index)
formatted_gender_total_purchase_df

Gender
Female                     $361.94
Male                     $1,967.64
Other / Non-Disclosed       $50.19
dtype: object

In [51]:
## Calculate average purchase per person
gender_ave_person_df = gender_total_purchase_df / gender_sum_df["Total Count"]
formatted_gender_ave_person_df = pd.Series(["${:,.2f}".format(val) for val in gender_ave_person_df], index = gender_ave_person_df.index)
formatted_gender_ave_person_df

Gender
Female                   $4.47
Male                     $4.07
Other / Non-Disclosed    $4.56
dtype: object

In [52]:
## Create a summary DataFrame of Purchasing Analysis by Gender
gender_purchase_analysis_sum_df = pd.DataFrame({"Purchase Count": gender_purchase_data_df, 
                                               "Average Purchase Price": gender_price_data_df, 
                                               "Total Purchase Value": formatted_gender_total_purchase_df, 
                                               "Avg Total Purchase per Person": formatted_gender_ave_person_df})
gender_purchase_analysis_sum_df

,Average Purchase Price,Avg Total Purchase per Person,Purchase Count,Total Purchase Value
Gender,,,,
Female,$3.20,$4.47,113,$361.94
Male,$3.02,$4.07,652,"$1,967.64"
Other / Non-Disclosed,$3.35,$4.56,15,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [53]:
## Get an idea of age distribution:
purchase_data_df['Age'].describe()

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [54]:
## Create bins to hold the data with range is [7, 45]
##age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]

age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [55]:
# Categorize purchase data and place the ages into bins
pd.cut(purchase_data_df["Age"], age_bins, labels=age_ranges, include_lowest=True)
pd.cut(uni_purchase_data_df["Age"], age_bins, labels=age_ranges)

## Add "Age Range" data to the purchase_data_df:
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], age_bins, labels= age_ranges)
uni_purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], age_bins, labels= age_ranges)
##uni_purchase_data_df.head(50)

In [71]:
##Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
## Calculate purchase count
age_group_cnt_df = uni_purchase_data_df.groupby("Age Range")["Item Name"]
age_group_cnt_df.count()

Age Range
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Item Name, dtype: int64

In [72]:
##uni_purchase_data_df

In [73]:
## percentage of players
age_group_percent_df = round(uni_purchase_data_df["Age Range"].value_counts()/576,4)

In [74]:
## Create a summary DataFrame of Age Demographics
age_purchase_analysis_sum_df = pd.DataFrame({"Total Count": age_group_cnt_df.count(),                                             
                                            "Percentage of Players": age_group_percent_df})

In [75]:
## format the percentage
age_purchase_analysis_sum_df["Percentage of Players"] = pd.Series(["{0:.2f}%".format(val * 100) for val in age_purchase_analysis_sum_df["Percentage of Players"]], index = age_purchase_analysis_sum_df.index)

## print the age demographic summary
age_purchase_analysis_sum_df

      Percentage of Players  Total Count
10-14                 3.82%           22
15-19                18.58%          107
20-24                44.79%          258
25-29                13.37%           77
30-34                 9.03%           52
35-39                 5.38%           31
40+                   2.08%           12
<10                   2.95%           17

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [76]:
# Purchase count by age range.
age_grp_cnt_df = purchase_data_df.groupby("Age Range")["Item Name"]
age_grp_cnt_df.count()

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item Name, dtype: int64

In [77]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [78]:
## average purchase price
ave_price_df = purchase_data_df.groupby("Age Range")["Price"].mean().round(2)
formatted_ave_price_df = pd.Series(["${:,.2f}".format(val) for val in ave_price_df], index = ave_price_df.index)
##formatted_ave_price_df

In [79]:
## Total purchase value
age_total_purchase_df = purchase_data_df.groupby("Age Range")["Price"].sum()
formatted_age_total_purchase_df = pd.Series(["${:,.2f}".format(val) for val in age_total_purchase_df], index = age_total_purchase_df.index)
##formatted_age_total_purchase_df

In [80]:
## Average total purchase per person
ave_total_df = age_total_purchase_df / age_group_cnt_df.count().round(2)
formatted_ave_total_df = pd.Series(["${:,.2f}".format(val) for val in ave_total_df], index = ave_total_df.index)
formatted_ave_total_df

Age Range
<10      $4.54
10-14    $3.76
15-19    $3.86
20-24    $4.32
25-29    $3.81
30-34    $4.12
35-39    $4.76
40+      $3.19
dtype: object

In [81]:
# Create a summary DataFrame for Purchase Analysis by Age: 
age_range_sum_df = pd.DataFrame({"Purchase Count":age_grp_cnt_df.count(),
                            "Average Purchase Price":formatted_ave_price_df,
                            "Total Purchase Value": formatted_age_total_purchase_df,
                            "Avg Total Purchase per Person": formatted_ave_total_df
})
age_range_sum_df

,Average Purchase Price,Avg Total Purchase per Person,Purchase Count,Total Purchase Value
Age Range,,,,
<10,$3.35,$4.54,23,$77.13
10-14,$2.96,$3.76,28,$82.78
15-19,$3.04,$3.86,136,$412.89
20-24,$3.05,$4.32,365,"$1,114.06"
25-29,$2.90,$3.81,101,$293.00
30-34,$2.93,$4.12,73,$214.00
35-39,$3.60,$4.76,41,$147.67
40+,$2.94,$3.19,13,$38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [82]:
## Top Spender analysis

purchase_cnt_by_player_df = purchase_data_df.groupby("SN").count()["Price"].rename("Purchase Count")
ave_price_by_player_df = purchase_data_df.groupby("SN").mean()["Price"].rename("Average Purchase Price").round(2)
total_price_by_player_df = purchase_data_df.groupby("SN").sum()["Price"].rename("Total Purchase Value")

##formatted_ave_price_by_player_df = pd.Series(["${:,.2f}".format(val) for val in ave_price_by_player_df], index = ave_price_by_player_df.index)
##formatted_total_price_by_player_df = pd.Series(["${:,.2f}".format(val) for val in total_price_by_player_df], index = total_price_by_player_df.index)

## Create the summary dataframe
total_player_data_sum_df = pd.DataFrame({"Purchase Count": purchase_cnt_by_player_df,
                                   "Average Purchase Price": ave_price_by_player_df,
                                   "Total Purchase Value": total_price_by_player_df})
total_player_data_sum_df.head()

              Average Purchase Price  Purchase Count  Total Purchase Value
SN
Adairialis76                    2.28               1                  2.28
Adastirin33                     4.48               1                  4.48
Aeda94                          4.91               1                  4.91
Aela59                          4.32               1                  4.32
Aelaria33                       1.79               1                  1.79

In [83]:
# Sort table to show the top five spenders.
top_spenders = total_player_data_sum_df.sort_values("Total Purchase Value", ascending=False)
top_spenders.head()

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Lisosia93                      3.79               5                 18.96
Idastidru52                    3.86               4                 15.45
Chamjask73                     4.61               3                 13.83
Iral74                         3.40               4                 13.62
Iskadarya95                    4.37               3                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [84]:
# Total items purchases analysis.

items_purchase_cnt_df = purchase_data_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_ave_price_df = purchase_data_df.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price").round(2)
items_purchase_val_df = purchase_data_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value").round(2)

In [85]:
items_ave_price_df.head()

Item ID  Item Name
0        Splinter              1.28
1        Crucifer              2.94
2        Verdict               2.48
3        Phantomlight          2.49
4        Bloodlord's Fetish    1.70
Name: Average Purchase Price, dtype: float64

In [86]:
## Create summary dataframe for Most Popular
items_sum_df = pd.DataFrame({"Purchase Count":items_purchase_cnt_df,
                                   "Item Price":items_ave_price_df,
                                   "Total Purchase Value":items_purchase_val_df})

items_sum_df.head()

                            Item Price  Purchase Count  Total Purchase Value
Item ID Item Name
0       Splinter                  1.28               4                  5.12
1       Crucifer                  2.94               4                 11.77
2       Verdict                   2.48               6                 14.88
3       Phantomlight              2.49               6                 14.94
4       Bloodlord's Fetish        1.70               5                  8.50

In [87]:
## Sort table to show the most popular items.

most_popular_item_df = items_sum_df.sort_values("Purchase Count", ascending=False)
most_popular_item_df.head()

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,4.61,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
145,Fiery Glass Crusader,4.58,9,41.22
132,Persuasion,3.22,9,28.99
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [88]:
# To show the most profitable items by sorting

most_pop_items = items_sum_df.sort_values("Total Purchase Value", ascending=False)
most_pop_items.head()

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,4.61,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
103,Singed Scalpel,4.35,8,34.80