In [1]:
#Dependencies and setup
import pandas as pd
import numpy as np

In [2]:
#Files to load
file_path = "Resources/purchase_data.csv"

In [4]:
purchase_df = pd.read_csv(file_path)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [38]:
purchase_df.count()
dict = {'Total Player':[purchase_df['SN'].count()]}
df = pd.DataFrame(dict)
#displaying the DataFrame
display(df)
# print(total_player_dict)

   Total Player
0           780

In [11]:
#number of unique items
purchase_df['Item ID'].unique()
len(purchase_df['Item ID'].unique())
unique_item_dict = {'Unique Items':len(purchase_df['Item ID'].unique()) } 
#unique_item_df = pd.DataFrame(unique_item_dict)
display (unique_item_dict)

{'Unique Items': 179}

In [ ]:
#Average purchase price
total_purchase = 0
total_revenue = 0

In [ ]:
#total number of purhases

In [ ]:
#total Revenue

In [21]:
# drop null rows_df = crime_df.dropna(how='any')
not_null_df = df.dropna(how = 'any')
not_null_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [13]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [15]:
sn_series = df["SN"].unique()
sn_series.count()

AttributeError: 'numpy.ndarray' object has no attribute 'count'