### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

## Debug flag: 
debug_mode = True

## Player Count

* Display the total number of players

In [2]:
## Counting the unique values of the player column (SN)
players_df = purchase_data_df.groupby("SN")["SN"].nunique()
unique_no_players = players_df.count()

## Alternative way of counting unique values: 
## n = len(pd.unique(purchase_data_df['SN']))

## create a dictionary to save the summary info
player_dicts = [{"Total Player": unique_no_players}]

## convert it to a DataFrame
player_sum_df = pd.DataFrame(player_dicts)
player_sum_df

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
## Variables to store the summary data
total_unique_items = 0
ave_price = 0.00
num_purchases = 0
total_revenue = 0
formatted_total_rev = 0

In [4]:
##purchase_data_df.describe()
purchase_data_df.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [5]:
## Requirement: Run basic calculations to obtain number of unique items, average price, etc.
total_unique_items = len(pd.unique(purchase_data_df['Item Name']))
if debug_mode == True:
    print(f"total_unique_items = {total_unique_items}")

total_unique_items = 179

In [6]:
ave_price = round(purchase_data_df['Price'].mean(), 2)
formatted_ave_price = "${:,.2f}".format(ave_price)

if debug_mode == True:
    print (f"formated price = {formatted_ave_price}")

formated price = $3.05

In [7]:
num_purchases = purchase_data_df['Purchase ID'].count()
if debug_mode == True:
    print(f"num_purchases = {str(num_purchases)}")
##sum_df.insert(2, "Number of Purchases", num_purchases, True)

num_purchases = 780

In [8]:
total_revenum = purchase_data_df['Price'].sum()
## User str.format() to format a float as currency, in this case, "${:,.2f}"
formatted_total_rev = "${:,.2f}".format(total_revenum)
if debug_mode == True:
    print(f"formatted_total_rev = {formatted_total_rev}")

formatted_total_rev = $2,379.77

In [10]:
sum_df = pd.DataFrame(
    [[total_unique_items, formatted_ave_price, num_purchases, formatted_total_rev]],    
    columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]
)
sum_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
## first, need to drop duplicate names in the dataframe
uni_purchase_data_df = purchase_data_df.drop_duplicates('SN').sort_index()

## Calculate the gender count
grouped_gender_df = uni_purchase_data_df.groupby("Gender")["SN"].nunique()

## Calculate gender percentage, and keep 4 digit after decimal
percent_gender_df = (grouped_gender_df / unique_no_players).round(4)

## Create the summary dataframe
gender_sum_df = pd.DataFrame({"Total Count": grouped_gender_df, "Percentage of Players": percent_gender_df })

## order the rows per teacher's questions
gender_sum_df = gender_sum_df.reindex(["Male", "Female", "Other / Non-Disclosed"])

## format the percentage
gender_sum_df["Percentage of Players"] = pd.Series(["{0:.2f}%".format(val * 100) for val in gender_sum_df["Percentage of Players"]], index = gender_sum_df.index)

## Display the gender summary: 
gender_sum_df

                      Percentage of Players  Total Count
Gender
Male                                 84.03%          484
Female                               14.06%           81
Other / Non-Disclosed                 1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [149]:
## Obtain purchase count by gender
gender_purchase_data_df = purchase_data_df.groupby('Gender')["Item ID"]
gender_purchase_data_df = gender_purchase_data_df.count()
gender_purchase_data_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [150]:
## Obtain avg. purchase price by gender
gender_price_data_df = purchase_data_df.groupby('Gender')['Price'].mean()
gender_price_data_df.round(2)
gender_price_data_df = pd.Series(["${:,.2f}".format(val) for val in gender_price_data_df], index = gender_price_data_df.index)
gender_price_data_df

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
dtype: object

In [151]:
## Obtain total purchase value by Gender
gender_total_purchase_df = purchase_data_df.groupby('Gender')['Price'].sum()

## format the total purchase by adding a dollar sign in the front, and a comma for thousand mark
formatted_gender_total_purchase_df = pd.Series(["${:,.2f}".format(val) for val in gender_total_purchase_df], index = gender_total_purchase_df.index)
formatted_gender_total_purchase_df

Gender
Female                     $361.94
Male                     $1,967.64
Other / Non-Disclosed       $50.19
dtype: object

In [152]:
## Calculate average purchase per person
gender_ave_person_df = gender_total_purchase_df / gender_sum_df["Total Count"]
formatted_gender_ave_person_df = pd.Series(["${:,.2f}".format(val) for val in gender_ave_person_df], index = gender_ave_person_df.index)
formatted_gender_ave_person_df

Gender
Female                   $4.47
Male                     $4.07
Other / Non-Disclosed    $4.56
dtype: object

In [153]:
## Create a summary DataFrame of Purchasing Analysis by Gender
gender_purchase_analysis_sum_df = pd.DataFrame({"Purchase Count": gender_purchase_data_df, 
                                               "Average Purchase Price": gender_price_data_df, 
                                               "Total Purchase Value": formatted_gender_total_purchase_df, 
                                               "Avg Total Purchase per Person": formatted_gender_ave_person_df})
gender_purchase_analysis_sum_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [157]:
## Get an idea of age distribution:
purchase_data_df['Age'].describe()

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [158]:
## Create bins to hold the data with range is [7, 45]
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [168]:
# Categorize purchase data and place the ages into bins
pd.cut(purchase_data_df["Age"], age_bins, labels=age_ranges)

## Add "Age Range" data to the purchase_data_df:
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], age_bins, labels= age_ranges)
uni_purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], age_bins, labels= age_ranges)
uni_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [173]:
##Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
## Calculate purchase count
age_group_cnt_df = uni_purchase_data_df.groupby("Age Range")["Item Name"]
age_group_cnt_df.count()

Age Range
<10       24
10-14     41
15-19    150
20-24    232
25-29     59
30-34     37
35-39     26
40+        7
Name: Item Name, dtype: int64

In [174]:
uni_purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-19
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame